
h1 {
	font-size: 3rem;
	line-height: 3.3rem;
	font-weight: bold;
}

h2 {
	font-size: 2rem;
	line-height: 2.2rem;
	font-weight: bold;
}

h3 {
	font-size: 1.8rem;
	line-height: 1.98rem;
	font-weight: normal;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.65rem;
	font-weight: normal;
}

h5 {
	font-size: 1.1rem;
	line-height: 1.43rem;
	font-weight: bold;
}

h6 {
	font-size: 1rem;
	font-weight: bold;
}
