.milkdown {
	h1 {
		font-size: 2rem;
		line-height: 4rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.7rem;
		line-height: 3rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 2.2rem;
		font-weight: normal;
	}

	h4 {
		font-size: 1.3rem;
		line-height: 1.8rem;
		font-weight: normal;
	}

	h5 {
		font-size: 1.1rem;
		line-height: 1.5rem;
		font-weight: bold;
	}

	h6 {
		font-size: 1rem;
		font-weight: bold;
	}

	ul {
		margin: 1em 0;

		li {
			list-style-type: disc;
			margin-left: 2em;
		}
	}

	[contenteditable] {
		@apply outline-none min-h-4 bg-slate-450 text-slate-800 rounded transition-all p-2;

		p {
			@apply py-1.5;
		}

		pre[data-language] {
			@apply bg-slate-600 text-slate-300 p-2 rounded relative my-2 overflow-hidden transition-all;

			&::before {
				content: attr(data-language); /* This gets the value of the data-language attribute */
				@apply text-[.7em] absolute top-0 right-0 p-1 bg-gray-800 text-gray-400 rounded-bl;
			}

			&[data-language="yaml"] {
				@apply text-lime-700;
			}
		}

		&.ProseMirror-focused {
			@apply text-slate-900;

			[data-language] {
				@apply bg-gray-700;
			}
		}
	}
}

.markdown-code-only {
	[contenteditable] {
		@apply p-0 bg-inherit;
	}
}

.dx-markdown-editor {
	&.md-bg-lime-200 {
		[contenteditable] {
			@apply bg-lime-200;
		}
	}

	&.md-bg-red-200 {
		[contenteditable] {
			@apply bg-red-200;
		}
	}
}
