.dx-dialog {
	.dx-dialog-card {
		@apply bg-slate-800 shadow-none overflow-hidden max-w-[90vw];
	}

	.dx-dialog-header {
		@apply p-0 bg-slate-700;
	}

	.dx-dialog-title {
		@apply px-4 py-2 text-xl;
	}

	.dx-dialog-subtitle {
		@apply mt-1 text-sm;
	}

	.dx-dialog-content {
		@apply p-6;
	}

	.dx-dialog-actions {
	}

	.dx-dialog-button {
		@apply rounded-none w-full;
	}

	.dx-dialog-button-cancel {
		@apply flex-grow bg-slate-300 text-slate-600;
	}

	.dx-dialog-button-confirm {
		@apply flex-grow bg-sky-800 text-slate-200;
	}

	.dx-close-button {
		@apply p-4 text-slate-200 bg-inherit hover:bg-slate-700;
	}
}
