
.q-field {
	.q-field__inner {
		.q-field__control {
			height: auto;
			@apply bg-slate-600 text-slate-200 rounded pl-4;
		}
	}

	&.q-input {
		.q-field__native {
			padding-top: 1.5em;
			padding-bottom: .5em;
		}

		&.dx-number-field {
			&.dx-prepend-label {
				.q-field__control {
					@apply p-0 rounded overflow-hidden;
				}

				.q-field__prepend {
					@apply text-sm h-auto px-4 bg-slate-400 text-slate-800;
				}

				.q-field__native {
					@apply py-2 text-right text-slate-200 pr-4;
				}
			}
		}
	}

	.q-field__label {
		@apply text-slate-400 transition-colors;
	}

	.q-field__native {
		@apply text-slate-200;
	}

	&.q-field--focused {
		.q-field__label {
			@apply text-slate-300;
		}
	}
}

.q-date {
	@apply bg-slate-600 text-slate-200;
}
