.dx-field-label {
	@apply text-xs block mb-1.5;

	.dx-field-required {
		@apply text-red-500 ml-0.5;
	}
}

.q-field {
	.q-field__inner {
		.q-field__control {
			@apply h-auto rounded pl-4 bg-slate-600 text-slate-200;
		}
	}

	&.q-input {
		.q-field__native {
			@apply py-3
		}

		&.dx-number-field {
			&.dx-prepend-label {
				.q-field__control {
					@apply p-0 rounded overflow-hidden;
				}

				.q-field__prepend {
					@apply text-sm h-auto px-4 bg-slate-400 text-slate-800;
				}

				.q-field__native {
					@apply py-2 text-right text-slate-200 pr-4;
				}
			}
		}
	}

	.q-field__label {
		@apply text-slate-400 transition-colors;
	}

	.q-field__native {
		@apply text-slate-200;
	}

	&.q-field--focused {
		.q-field__label {
			@apply text-slate-300;
		}
	}

	&.dx-select-field {
		@apply pb-0;

		.q-field__native {
			@apply py-3;

			.dx-selected-label {
				@apply py-1;
			}
		}

		&.q-select--multiple {
			.q-field__native {

				.dx-selected-chips {
					@apply py-0;
				}

				.q-chip {
					@apply h-auto px-4 py-1 m-0;
				}
			}
		}
	}
}

.q-date {
	@apply bg-slate-600 text-slate-200;
}

.danx-input-chars {
	@apply text-slate-400 text-right text-xs;

	&.danx-input-chars--error {
		@apply text-red-500;
	}
}

.q-checkbox {
	.q-checkbox__inner--truthy .q-checkbox__bg {
		@apply bg-inherit;
	}
}

.form-input-indigo {
	.q-field {
		.q-field__inner {
			.q-field__control {
				@apply bg-indigo-400 text-indigo-200;

				.q-chip {
					@apply bg-indigo-700 text-indigo-300;
				}
			}
		}
	}
}
