.dx-panels-drawer-header {
	@apply bg-sky-900;
}

.dx-close-button {
	@apply bg-slate-200 text-slate-600;
}

.dx-panels-drawer-body {
	@apply bg-slate-900;
}

.dx-panels-drawer-tabs {
	@apply border-r border-slate-800 bg-slate-700;

	.q-tab {
		@apply text-left py-2.5 px-2 rounded-lg hover:bg-slate-600;

		&.q-tab--active {
			@apply text-white bg-sky-700;
		}

		.q-tab__content {
			@apply overflow-hidden overflow-ellipsis;
		}
	}
}
