.dx-action-table {
	&.dx-is-loading-list {
		@apply opacity-80;
	}
}

.dx-table-summary-tr {
	@apply bg-slate-600;

	&.has-selection {
		@apply bg-slate-200;
	}

	&.is-loading {
		@apply opacity-50;
	}

	.dx-table-summary-td {
		@apply font-bold bg-slate-600 pl-7;

		&.has-selection {
			@apply bg-slate-200 text-slate-600 pl-6;
		}
	}
}

.dx-column-link {
	@apply p-3 inline-block;
}

.dx-action-table-filters {
	@apply bg-slate-800;
}
